In [1]:
from pyDatalog import pyDatalog

## Variables and expressions

### Declare variables

In [2]:
pyDatalog.create_terms('X,Y')

In [3]:
print (X==1)

X
-
1

In [4]:
# give me all the X and Y so that X is true and Y is false
print((X==True) & (Y==False))

X    | Y
-----|------
True | False

In [5]:
# give me all the X that are both true and false
print((X==True) & (X==False))

[]

In [6]:
# give me all the X and Y so that X is a name and Y is 'Hello ' followed by the first letter of X
print((X==raw_input('Please enter your name: ')) & (Y=='Hello ' + X[0]))

Please enter your name: World
X     | Y
------|--------
World | Hello W

#### If a variable in an expression is not bound, the query returns an empty solution:

In [7]:
print((Y==1) & (Y==X+1))

[]

#### Variables can represent nested tuples:

In [8]:
print ((X==(1,2) + (3,)) & (Y==X[2]))

X         | Y
----------|--
(1, 2, 3) | 3

#### Functions can be used in logic expressions:

In [9]:
def twice(a):
    return a+a

pyDatalog.create_terms('twice')
print((X==1) & (Y==twice(X)))

X | Y
--|--
1 | 2

#### pyDatalog vriables can be passed to functions is the Python standard library:

In [10]:
# give me all the X and Y so that X is 2 and Y is the sqrt of X
import math
pyDatalog.create_terms('math')
print((X==2) & (Y==math.sqrt(X)))

X | Y
--|--------------
2 | 1.41421356237

## Loops

### Declare variables

In [11]:
pyDatalog.create_terms('X,Y,Z')

#### .in() method can be used to create a loop:

In [13]:
print (X.in_((0,1,2,3,4)))

X
-
1
4
2
0
3

In [14]:
for x in range(5):
    print x

0
1
2
3
4

#### .data attribute gives access to the result:

In [15]:
print (X.in_(range(5)).data)

[(3,), (4,), (1,), (2,), (0,)]

In [16]:
print(X.in_(range(5)) == set([(0,), (1,), (2,), (3,), (4,)]))

True

#### to access values:

In [20]:
print ('Data: ', X.data)
# First result (or None) can be obtained with .v():
print ('First value: ', X.v())
# >= is a variable extraction operator:
print ('Extraction of first value of X: ', X.in_(range(5)) >= X)
# & operator con be used to filter the result
print ('X smaller than 2', X.in_(range(5)) & (X<2))

('Data: ', [0, 1])
('First value: ', 0)
('Extraction of first value of X: ', 0)
('X smaller than 2', [(1,), (0,)])

#### nested loops:

In [21]:
# give me all X, Y and Z so that X and Y are in 0..4, Z is their sum, and Z is below 3:
print (X.in_(range(5)) &
          Y.in_(range(5)) &
              (Z==X+Y) &
              (Z<3))

X | Y | Z
--|---|--
1 | 0 | 1
0 | 1 | 1
0 | 0 | 0
0 | 2 | 2
2 | 0 | 2
1 | 1 | 2

## Logic Functions and dictionaries

The example will calculate the net salary of employee foo and bar

In [22]:
# logic function names (salary, tax_rate, etc) starts with a lower case
pyDatalog.create_terms('X,Y,Z, salary, tax_rate, tax_rate_for_salary_above, net_salary')

#### Similar to a dictionary, a function defines one value for a given argument

In [23]:
salary['foo'] = 60
salary['bar'] = 110

In [24]:
# Python equivalent
_salary = dict()
_salary['foo'] = 60
_salary['bar'] = 110

In [25]:
# give all the X and Y so that the salary of X is Y
print (salary[X]==Y)

X   | Y
----|----
bar | 110
foo | 60

In [26]:
# python equivalent
print(_salary.items())

[('foo', 60), ('bar', 110)]

In [27]:
# foo now has a salary of 70:
salary['foo'] = 70
print(salary['foo'] == Y)

Y
--
70

In [28]:
# Python equivalent
_salary['foo'] = 70
print('foo --> ' + str(_salary['foo']))

foo --> 70

#### function can be queried by value:

In [29]:
# give me all the X that have a salary of 110:
print (salary[X]==110)

X
---
bar

In [30]:
# procedural equivalent in python
for i, j in _salary.items():
    if j==110:
        print i, '-->', j

bar --> 110

In [31]:
print ((salary[X]==Y) & ~(Y==110))

X   | Y
----|---
foo | 70

In [32]:
# None will be used for the function argument
# the standard tax rate is 33%
# + seems to assert that None will be assigned to tax_rate 
+(tax_rate[None]==0.33)

In [48]:
print (Z==salary[X] * (1-tax_rate[None]))

X   | Z
----|-----
bar | 73.7
foo | 46.9

In [50]:
# the net salary of X is Y if Y is the salary of X, reduced by the tax rate
net_salary[X] = salary[X] * (1-tax_rate[None])
# give me all the X and Y so that Y is the net salary of X
print(net_salary[X]==Y)

X   | Y
----|-----
bar | 73.7
foo | 46.9

In [51]:
# procedural equivalent in Python:
for i,j in _salary.items():
    k = j*(1-0.33)
    print i,k

foo 46.9
bar 73.7

In [ ]:
# give me the net salary of foo
print(net_salary['foo']==Y)